.App {
  text-align: center;
}
/*Main div in base.js*/
.id-0 {
  margin-bottom: 0;
}
.id-1 {
  height: 10vh;
  margin-bottom: 0em;
}

.id-21 {
  height: 90vh;
}

.midCol {
  font-size: 3vw;
  color: #1890ff;
}

.PopCard {
  position: absolute;
  right: 0;
}

p {
  margin-bottom: 0em !important;
}

/*Color for sidebar
.ant-menu-dark, .ant-menu-dark, .ant-menu-sub, .ant-layout-sider,.ant-layout-sider-trigger {
  background: #191a1a !important;
}*/

.ant-menu-dark, .ant-menu-dark, .ant-menu-sub, .ant-layout-sider,.ant-layout-sider-trigger {
  background: #fff !important;
}