.App {
  text-align: center;
}
/*Main div in base.js*/
.id-0 {
  margin-bottom: 0;
}
.id-1 {
  height: 10vh;
  margin-bottom: 0em;
}

.id-21 {
  height: 90vh;
}

.midCol {
  font-size: 3vw;
  color: #1890ff;
}

.ant-layout-sider {
  z-index: 1;
}

.PopCard {
  position: absolute;
  right: 0;
}

.address {
  margin-bottom: 10px;
}

.resWrap {
  left: 0;
  position: absolute;
}

.resCard {
  width: 280px;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: visible;
  height: 56vh;
  transition: .5s ease;
}

.trigger {
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  color: gray;
  background-color: white;
  z-index: 1;
  right: 0;
  margin-right: -30px;
  height: 7vh;
  width: 30px;
  margin-top: 1%;
}

#title {
  font-weight: bold;
}

#address {
  font-weight: lighter;
}

p {
  margin-bottom: 0em !important;
}

/*Color for sidebar
.ant-menu-dark, .ant-menu-dark, .ant-menu-sub, .ant-layout-sider,.ant-layout-sider-trigger {
  background: #191a1a !important;
}*/

.ant-menu-dark, .ant-menu-dark, .ant-menu-sub, .ant-layout-sider,.ant-layout-sider-trigger {
  background: #fff !important;
}